@font-face {
    font-family: MPLUS;
    src: url(../Fonts/MPLUS1p-Medium.ttf);
}
body{
    font-family: "MPLUS";
}
img{
    max-width: 100%;
}
.Progress-Bar-1{
    background-color: rgba(155,157,158,255);
}